<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/transliteration-input.bundle.js"></script>
  <style>
      
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    
    /* Set gray background color and 100% height */
    /* .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    } */
    
    /* Set black background color, white text and some padding */
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
     .wireman-btn{
        border: 1px solid #888888;
        background: none;
        cursor: pointer;
        color:#1B4F72;
        box-shadow: 0px 5px 8px #888888;
        height: 85px;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
} @media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
      /* On small screens, set height to 'auto' for sidenav and grid */
     @media screen and (max-width: 575px) {
       .wireman-btn{
          margin-bottom: 10px;
           height: 35px;
            width: 285px;
      }  
     }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .wireman-btn{
          margin-bottom: 10px;
      }
      .row.content {height:auto;} 
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width:768px) and (max-width:1198px){
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}

@media screen and (min-width: 1000px) and  (max-width: 1199)  {
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
  </style>
</head>
<body oncontextmenu="return false;">
<section  class="navbar-section margin-bottom:20px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
       {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
        
      </nav>
</section>
<br>
<br>
<div class="container">
    <div class="row text-center">
   <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमन परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary btn-large wireman-btn ">वायरमन परीक्षा सूट फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा  फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा सूट फॉर्म</a></div>
        {{!-- <div class="col-sm"><a  href="/"class="btn btn-primary btn-large wireman-btn"> वायरमॅन परीक्षा</a></div> --}}
        
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn"> वायरमॅन/सुपरवाईझर पुनः परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary active btn-large wireman-btn">नवीन विद्युत ठेकेदार लायसन्स फॉर्म</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary btn-large wireman-btn">विद्युत ठेकेदार लायसन्स नूतनीकरण फॉर्म</a></div></div>
</div>
<br>
<div class="container">
    <h4 class="text-center ">नवीन विद्युत ठेकेदार परवान्या करीता  आवश्यक सूचना </h4>
</div>
<br>
<div class="container">
   <p>
विद्युत ठेकेदार परवाना हा एक अतिशय चांगला पर्याय आपल्या  <br>
चांगल्या करियर  करीता  आहे . शंकाच नाही कि आजच्या मॉडर्न युगात सर्व आधुनिक <br>
उपकरणे विजेवर चालतात . आपणास कुशल माणसे व कुशल मन शक्तीची गरज आहे <br>
ह्या वेबसाइट वरील  माहिती द्वारे आपणास सोप्या पद्धतीने आपण नवीन विद्युत ठेकेदार परवाना कसा <br>
काढू शकतो हि माहिती आपणास ह्या वेबसाईट द्वारे मिळेल . <br>
जर आपणास काही अडचण असल्यास आपण दिलेल्या व्हाट्सअँप क्रमांक वर <br>
मेसेज करून महिती मिळवू शकता . <br><br>
आवश्यक कागदपत्रे <br>
१ विद्युत पर्यवेक्षक परवाना व सर्टिफिकेट असणे गरजे आहे (आपण हा परवाना <br>
  ईतर व्यक्ती कडून  ठराविक मानधन देऊन घेऊ शकता ) त्या करीता  आपण <br>
स्वतः पर्यवेक्षक असणे गरजेचे नाही . <br>
२ विद्युत तारतंत्री परवाना धारक व्यक्ती कामावर असणे गरजेचे आहे . <br>
३. शॉप ऍक्ट दाखला <br>
४. उद्योग आधार दाखल <br>
५ पॅनकार्ड <br>
६ आधारकार्ड <br>
७ रहिवासी पुरावा दूरध्वनी बिल , लाईट बिल , पाणी पुरवठा बिल ईत्यादी <br>
८ अर्थ टेस्टर व मेगर खरेदी करणे <br><br>
प्रथम आपल्या जवळच्या विद्युत निरीक्षक कार्यालयाकडून आपण आपल्या नवीन <br>
स्थापन करणाऱ्या संस्थेचे नाव मंजुरी करून घ्यावी त्या करीत डाउन लोड फॉर्म ह्या  साईट <br>
वर मिळेल <br>
नावाची मंजुरी मिळाल्या नंतर शॉप ऍक्ट व उद्योग आधार परवाना काढून घ्यावा<br> 
व त्या द्वारे आपण बँकेत मंजूर नावाने खाते काढावे ,त्या खात्या मध्ये किमान <br>
शिल्लक रुपये दहा हजार असणे आवश्यक आहे . <br>
नंतर मार्केट मधून पी डब्लू अँप्रोव्हड मेगर व अर्थ टेस्टर खरेदी करावे ,खरेदी <br>
पावती वर मंजूर नांव तसेच आपल्या फर्म चा पत्ता ई-मेल आय डी  तसेच आपला <br>
मोबाइलला क्रमांक असणे गरजेचे आहे . <br>
त्या नंतर  Gras . mahakosh ह्या साईट वर आवश्यक ते चलन भरावे व तो चलन <br>
<p style="color: crimson;">
    GRAS . MAHAKOSH साईट वर चलन भारन्या करिता  आवश्यक माहिती </p>
   
प्रथम google search मध्ये Gras.mahakosh type करावे 
नंतर पुढे pay without registration वर क्लिक करावे 
नंतर chief electrical Inspector डिपार्टमेंट सिलेक्ट करावे submi केल्या वर 
Payment Type मध्ये Other Receipt सिलेक्ट करावे 
सिलेक्ट district मध्ये तुमचा जिल्हा लिहावा 
पुढे office name मध्ये Electrical Inspector सिलेक्ट करावे 
Select Scheme मध्ये Examination fees of Licensing Board सिलेक्ट करावे 
Form Id मध्ये काहीही लिव्हावयाचे नाही 
पॅनकार्ड क्रमांक लिहावा 
Department Tax ID मध्ये काहीही लिहायचे नाहि
नंतर Name मध्ये ज्याच्या नावाने चलन भरायचे ते नांव किंवा तुमच्या 
फर्मचे नांव लिहावे (ज्या नावाने चलन पाहिजे ते नांव लिहावे )
नंतर पत्ता पूर्ण लिहावा 
मोबाइल क्रमांक लिहावा 
Remark मध्ये ज्या कामासाठी चलन भरायचे ते लिहावे 
पुढे payment gateway संबंधी माहिती लिहावे व चलन प्रिंट करावे  

</p>
क्रमांक आपणांस फॉर्म भरते वेळी नोंद करावा लागतो . रुपये २५०० नवीन ठेकेदार परवान्या करीता <br><br>
जर विद्युत पर्यवेक्षक व स्वतः मालक असल्यास खालील प्रमाणे फॉर्म भरून प्रिंट घ्यावी <br>
१. नवीन विद्युत ठेकेदार परवान्या करीत तपासणी सूची index मालक व पर्यवेक्षक एक असलेला फॉर्म <br>
२. नवीन विद्युत ठेकेदार परवान्या करीत अर्ज सादर (लेटर हेड वर )<br>
३. नमुना एन <br>
४. नमुना एस <br>
५. नमुना टी <br>
६. नमुना यू  (ह्यात विद्युत ठेकेदार मालक व पर्यवेक्षक दोनच व्यक्ती असलेला फॉर्म भरावा )<br>
७. नमुना एक्स <br>
८. नमुना झेड खंडित कालावधी करीत प्रतिज्ञापत्र<br>
९. प्रपत्र ब <br>
१०. फोटो फॉरमॅट  <br><br>
जर विद्युत पर्यवेक्षक व  मालक वेग वेगळे असल्यास खालील प्रमाणे फॉर्म भरून प्रिंट घ्यावी<br>
१. नवीन विद्युत ठेकेदार परवान्या करीत तपासणी सूची index (मालक व पर्यवेक्षक वेगळे असलेला फॉर्म  )<br>
२. नवीन विद्युत ठेकेदार परवान्या करीत अर्ज सादर (लेटर हेड वर )<br>
३. नमुना एन <br>
४. नमुना एस <br>
५. नमुना टी <br>
६. नमुना यू  (ह्यात विद्युत ठेकेदार मालक व पर्यवेक्षक दोन   व्यक्ती असलेला फॉर्म भरावा )<br>
७. नमुना डब्लू <br>
८. नमुना व्ही  <br>
८. नमुना झेड खंडित कालावधी करीत प्रतिज्ञापत्र<br>
९. प्रपत्र ब (मालक व पर्यवेक्षक वेगळे असल्यास दोघांचे  फॉर्म भरणे )<br>
१०. फोटो फॉरमॅट  <br>
<br>
जर विद्युत पर्यवेक्षक व  मालक तसेच भागीदारी फर्म  असल्यास खालील प्रमाणे फॉर्म भरून प्रिंट घ्यावी<br>
१. नवीन विद्युत ठेकेदार परवान्या करीत तपासणी सूची index (मालक व पर्यवेक्षक वेगळे )<br>
२. नवीन विद्युत ठेकेदार परवान्या करीत अर्ज सादर (लेटर हेड वर )<br>
३. नमुना एन <br>
४. नमुना एस <br>
५. नमुना टी <br>
६. नमुना यू  (ह्यात विद्युत ठेकेदार मालक व पर्यवेक्षक तीन व्यक्ती असलेला फॉर्म भरावा )<br>
७. नमुना डब्लू <br>
८. नमुना व्ही  <br>
९. नमुना झेड खंडित कालावधी करीत प्रतिज्ञापत्र<br>
१०. नमुना वाय <br>
११. प्रपत्र ब (मालक व पर्यवेक्षक वेगळे असल्यास दोघांचे  फॉर्म भरणे )<br>
१२. फोटो फॉरमॅट  

   </p>
</div>	
 <div class="container">
        <h4 class="text-center">नमुना फॉर्म येथे पहा :  <a href="/pdf/new-contractor-license.pdf#toolbar=0" target="_blank"> <button type="button" class="btn btn-sm btn-primary" style="border-radius: 30px;">View Sample Form</button></a>
          <a href="/pdf/Contractor-name-sanction-empty-form-with-supervisor.pdf" target="_blank"> <button type="button" class="btn btn-sm btn-primary" style="border-radius: 30px;">Download Contractor name sanction empty form with supervisor</button></a></h4>
        
    </div>
  <br>
<br>
<div class="container ">
    <div class="col-md-12 text-center">
        <a href="/new-contractor-index"> <button type="button" class="btn btn-lg btn-primary next-btn" >Next</button></a>
        </div>
   
</div>

    <br>
    <br>
<footer class="container-fluid text-center">
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-8 copy"><p>&#169; 2021 by Easyformfill. Proudly created with <a style="color: rgb(240, 210, 40);" href="https://www.logyana.com/">Logyana Solutions Pvt. Ltd </a></p>
                
            </div>
            <div class="col-sm-4 facebookicon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <!-- <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-twitter"></i></a> -->
            </div>
        </div>
    </div>
  
</footer>
<script type="text/javascript">
        let textarea1 = document.querySelectorAll(".textarea1");
        
        textarea1.forEach(function(userItem){
            enableTransliteration(userItem, "mr");

        })
</script>
</body>
</html>

