<!DOCTYPE html>
<html lang="en">
<head>
  <title>Easy Form Fill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/transliteration-input.bundle.js"></script>
   <style>
    @media print {
        /*NOT DISPLAY*/
       footer, #navbar, #home,.printPage
        {
        display: none;
        }
        /*DISPLAY*/
        #printable {
            display: block;
        }
    }
      /*@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        /*content:"for example";
        }
        }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      background-color: #1B4F72 ;
      height: 70px;
      color: white;
    }
    footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B4F72;
        color: white;
        text-align: center;
        height: 100px;
    }
   
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    
    
    /* Set gray background color and 100% height */
    /* .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    } */
    
    /* Set black background color, white text and some padding */
    
    .formfill-h2{
        text-decoration: underline;
        color: white;
    }
    
    .copy,.facebookicon{
        font-size: 15px;
        margin-top: 30px;
    }
    .facebookicon{
        font-size:15px;color:white;
        text-decoration: none;
    }
    .btn-next{
        background-color: #1B4F72 ;
        color: white;
        border-radius: 15px;
        text-decoration: none;
            margin-left: 100px;
    }
    .wireman-btn{
        border: 1px solid #888888;
        background: none;
        cursor: pointer;
        color:#1B4F72;
        box-shadow: 0px 5px 8px #888888;
        height: 85px;
    }
    .banner-image{
        background-image: url("img/enquiry6.jpg");
    }
    .form-span{
        color:  rgb(240, 210, 40);
        text-decoration-color: rgb(240, 210, 40);
        font-weight: bold;
    }
    .home{
        color: rgb(240, 210, 40);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .loginicon{
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
    .next-btn{
        width:70% ;
        border-radius: 30px;
        background-color: #1B4F72;;
    }
    a:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
} @media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }
a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
    /* On small screens, set height to 'auto' for sidenav and grid */
     @media screen and (max-width: 575px) {
       .wireman-btn{
          margin-bottom: 10px;
           height: 35px;
            width: 285px;
      }  
     }
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .wireman-btn{
          margin-bottom: 10px;
      }
      .row.content {height:auto;} 
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width:768px) and (max-width:1198px){
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}

@media screen and (min-width: 1000px) and  (max-width: 1199)  {
    .wireman-btn{
          margin-bottom: 10px;
           height: 125px;
      }
}@media print {
        html,body {
        display: none; /* This code will hide whole pages */
        content:"for example";
        }
        }

    .table td, .table th {
    padding: 0 !important; 
}
  </style>
</head>
<body oncontextmenu="return false;">
<section  class="navbar-section margin-bottom:20px" id="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="col-sm-2" ><a class="home" href="/home">Home</a></div>
        <div class="col-sm-8" >
                <h3 class="text-center ">EASY<span class="font-weight-bold form-span">FORMFILL</span> </h3>
            
        </div>
        {{#if user}}
        <div class="col-sm-2"> 
            <div class="dropdown" style="  height: 59px;">
                    <button type="button" class="btn" data-toggle="dropdown">
                  <p style=" color:white"><i class="fa fa-fw fa-user"></i> {{user.uname}}</p>
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
        {{else}}
             <div class="col-sm-2 loginicon" ><a href="/login"><i class="fa fa-fw fa-user"></i> Login</a></div>
        {{/if}}</div>
        
      </nav>
</section>
<br>
<br>
<div class="container" id="home">
    <div class="row text-center">
       <div class="col-sm"><a  href="/wireman-exam"class="btn btn-primary btn-large wireman-btn" > वायरमन परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/wireman-suit-exam"class="btn btn-primary btn-large wireman-btn ">वायरमन परीक्षा सूट फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा  फॉर्म</a></div>
        <div class="col-sm"><a  href="/supervisor-suit-exam"class="btn btn-primary btn-large wireman-btn"> सुपरवाईझर परीक्षा सूट फॉर्म</a></div>
        {{!-- <div class="col-sm"><a  href="/"class="btn btn-primary btn-large wireman-btn"> वायरमॅन परीक्षा</a></div> --}}
        
        <div class="col-sm"><a  href="/wireman-supervisor-reexam"class="btn btn-primary btn-large wireman-btn"> वायरमॅन/सुपरवाईझर पुनः परीक्षा फॉर्म</a></div>
        <div class="col-sm"><a  href="/new-contractor-licence"class="btn btn-primary btn-large wireman-btn">नवीन विद्युत ठेकेदार लायसन्स फॉर्म</a></div>
        <div class="col-sm"><a  href="/contractor-licence-renewal"class="btn btn-primary active btn-large wireman-btn">विद्युत ठेकेदार लायसन्स नूतनीकरण फॉर्म</a></div> </div>
</div>

<br>
<br>


<div class="" style="width: 100%; padding: 70px 13px;">
        <form class="form-horizontal" method="POST" role="form" id="index">
             <div class="row">
                   <div class="col-sm-10"><p class="" style="text-indent: 10em; ">महाराष्ट्र शासन राजपत्र असाधारण भाग चार अ जानेवारी ३ २०१७/पौष १३ शके १९३८            </div>
                    <div class="col-sm-2"> ३५</div>
               </div> <div>
                   <p class="text-center">(नमुना - क्यू)<br>  (नियम ३५ व ३९ पहा)<br>     कंत्राट नोंदवही 		<br>					
           (शासकीय अधिसूचना, उद्योग, ऊर्जा इ कामगार विभाग ,क्रमांक संकीर्ण-२०१६/प्र .क्र -१२३/ऊर्जा-५ <br>						
             (दिनांक २ जानेवारी , २०१७ द्वारे प्राधिकृत )				
</p>  
          <div class="">
            <br>     
                 <div class="row">
                     <div class="col-sm">
                         <div class="container">
                 <div class="row">
                     <div class="col-sm">
                         <p>संस्थेचे नाव:- {{user.firmName}}</p>
                     </div>
                     <div>
                         <p>म.ठे.क्र:{{user.firmRegNo}}</p>
                     </div>
                 </div>
             </div>
                          <p>जिल्हा<input type="text"  class="textarea1" name="district" id="textarea1" placeholder="________________________________" style="border: none;"required/> </p>
                     </div>
                     
                 </div>
             </div>    
            <div >
                <table class="table table-bordered" style="table-layout: fixed;">
               
                    <tbody>
                      <tr>
                        <td>अ . क्र .</td>
                        <td>ग्राहकाचे नांव</td>
                        <td>ग्राहकाचा पत्ता  </td>
                        <td>काम सुरु केल्याचा दिनांक </td>
                        <td>काम पूर्ण  केल्याचा  दिनांक  </td>
                        <td>तारतंत्री व शिकाऊ उमेदवाराचे नांव</td>
                        <td>चाचणी अहवालाचा दिनांक</td>
                        <td>पुरवठा कंपनीचे नांव  </td>
                        <td>वीज पुरवठा सुरु केल्याचा दिनांक</td>
                        <td>वीज पुरवठा सुरु कारणाच्या वेळी त्या त्याठिकाणी उपस्थित असलेल्या व्यक्तीचे नांव </td>
                        <td>देयक क्रमांक व  विद्युत संच मांडणी पूर्ण केल्याचा दिनांक</td>
                        <td> शेरा  </td>
                    ` </tr>
                    <tr>
                        <td>१ </td>
                        <td>२</td>
                        <td>३</td>
                        <td>४ </td>
                        <td>५</td>
                        <td>६</td>
                        <td>७ </td>
                        <td>८</td>
                        <td>९</td>
                        <td>१०</td>
                        <td>११ </td>
                        <td>१२</td>
                    </tr>
                    <tr><td>१ </td>
                    <td> <textarea name="customerName1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera1" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                    <tr><td>२ </td>
                    <td> <textarea name="customerName2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera2" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                    <tr><td>३ </td>
                     <td> <textarea name="customerName3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera3" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                    <tr><td>४ </td>
                     <td> <textarea name="customerName4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera4" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                    <tr><td>५ </td>
                     <td> <textarea name="customerName5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera5" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                        <tr><td>६ </td>
                    <td> <textarea name="customerName6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera6" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr> 
                         <tr><td>७ </td>
                     <td> <textarea name="customerName7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera7" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>
                     <tr><td>८ </td>
                   <td> <textarea name="customerName8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="customerAddress8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workStartDate8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="workEndDate8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="wiremanName8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="reportDate8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="supplyCompanyName8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyDate8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyPerson8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="powerSupplyNo8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                    <td> <textarea name="shera8" id=""  class="textarea1" cols="12" rows="6"></textarea></td>
                        </tr>

                                
                            </tbody>
                            
                </table>
            </div>
            
            </div>
            </div>
            
            <br>
            <br>
             <div class="col-md-12 text-center">
                <a href="/wireman-letter"> <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button></a>
               {{!-- <button  type="submit"class="btn btn-lg btn-primary printPage next-btn" >Next</button> --}}
            </div>
    </form>
    
</div>
          
</div>

  <br>
  <br>
<footer class="container-fluid text-center">
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-8 copy">
                <p>&#169; 2021 by Easyformfill. Proudly created with Logyana Solutions Pvt. Ltd</p>
            </div>
            <div class="col-sm-4 facebookicon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <!-- <a><i class="fa fa-facebook"></i></a>
                <a><i class="fa fa-twitter"></i></a> -->
            </div>
        </div>
    </div>
  
</footer>
<script type="text/javascript">
        let textarea1 = document.querySelectorAll(".textarea1");
        
        textarea1.forEach(function(userItem){
            enableTransliteration(userItem, "mr");

        })
</script>
</body>
</html>
